html { 
    
}
head {
    
}
body {
    background-color: ;
}
h1 {
    font-family: sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 9px;
    color: ;
}
#wrapper1 {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
#header {
    height: 120px;
    width: auto;
    background-color: ;
}
#content1 {
    height: 160px;
    width: auto;
    background-color: ;
}
#content2 {
    height: 220px;
    width: auto;
    background-color: ;
}
