body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: #474A48;
}

body.light-theme {
    background-color: #EEC6CA;
}

.container {
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 10%;
    position: center;
    background-image: url("Untitled.png");
    padding: 10px;
    border-radius: 14px;
}

body.light-theme .container {
    background-image: url("Untitled2.png");
}

.container2 {
    position: center;
}

input:focus, textarea:focus, select:focus {
    outline: 0px !important;
    background-color: #537A5A;
}

input:hover {
    background-color: #537A5A;
}

body.light-theme input:hover {
    background-color: #BCF4DE;
}

input {
    padding-top: 5px !important;
    padding-bottom: 4px !important;
}

.button {
    background: #9AE19D;
    border-radius: 4px;
    width: auto;
    display: inline-block;
    padding: 3px;
    border: 0px;
    color: #474A48;
}

body.light-theme .button {
    background-color: #CDE5D7;
    color: #9d8189;
}

div.button:hover {
    background-color: #537A5A;
    cursor: pointer;
}

body.light-theme div.button:hover {
    background-color: #BCF4DE;
}

#ip3 {
    margin-left: 72%;
    background-color: #537A5A;
    color: #cfd3cf;
}

body.light-theme #ip3 {
    background-color: #BCF4DE;
    color: #857d79;
}

#mode {
    padding-left: 60px;
    padding-top: 80px;
    background-color: #EEC6CA;
    border-width: 0px;
    border-bottom-right-radius: 35px;
}

body.light-theme #mode {
    background-color: #474A48;
}