body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.container {
    padding: 25%;
    position: absolute;
}

.inpt {
    margin: auto;
    padding: 10px;
    background-color: lightgrey;
    color: white;
    border-radius: 16px;
    border: solid 4px;
    border-color: coral;
}

input {
    margin-left: 10px;
    margin-right: 10px;
    background-color: coral;
    border-radius: 8px;
    border-color: white;
    border-width: 2px;
}

input:focus, textarea:focus, select:focus {
    outline: 0px !important;
}

button {
    background: #3498db;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

#popup {
    position: absolute;
    top: 30%;
    left: 35%; 
    right: 50%; 
    width: 200px;
    margin: 100px;
    background: lightblue;
    border-radius: 14px;
    text-align: center;
    font-size: 50px;
}