body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 400px;
}

.button {
    background: #3498db;
    border-radius: 3px;
    color: white;
}

#popup {
    position: absolute;
    top:50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px; /* Need a specific value to work */
    height: 100px;
    background: lightblue;
    border-radius: 14px;
    text-align: center;
}