body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 10%;
    position: center;
    background-image: url("/Untitled.png");
    padding: 10px;
    border-radius: 14px;
}

.container2 {
    position: center;
}

.inpt {
    margin: auto;
    background-color: lightgrey;
    color: white;
    border-radius: 16px;
    border: solid 4px;
    border-color: coral;
    padding: 3px;
    display: inline-block;
}

input:focus, textarea:focus, select:focus {
    outline: 0px !important;
    background-color: blueviolet;
}

input:hover {
    background-color: blueviolet;
}

p {
    float: top;
}

input {
    padding-top: 5px !important;
    padding-bottom: 4px !important;
}

.button {
    background: #3498db;
    border-radius: 4px;
    color: white;
    width: auto;
    display: inline-block;
    padding: 3px;
    border: 0px;
}



div.button:hover {
    background-color: blueviolet;
    cursor: pointer;
}

#popup {
    position: absolute;
    top: 30%;
    left: 35%; 
    right: 50%; 
    width: 200px;
    margin: 100px;
    background: lightblue;
    border-radius: 14px;
    text-align: center;
    font-size: 50px;
}

#ip3 {
    margin-left: 72%;
    background-color: #194649;
}